﻿<%@ Page Title="Update Progress" Language="VB" MasterPageFile="~/Home1.master" AutoEventWireup="false"
    CodeFile="~/Assessment New/Performance Goals/wPgUpdateGoalProgress.aspx.vb" Inherits="wPgUpdateGoalProgress" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<%@ Register Src="~/Controls/Closebutton.ascx" TagName="Closebutton" TagPrefix="uc1" %>
<%@ Register Src="~/Controls/DateCtrl.ascx" TagName="DateCtrl" TagPrefix="uc2" %>
<%@ Register Src="~/Controls/DeleteReason.ascx" TagName="DeleteReason" TagPrefix="ucDel" %>
<%@ Register Src="~/Controls/ConfirmYesNo.ascx" TagName="Confirmation" TagPrefix="ucCfnYesno" %>
<%--<%@ Register Src="~/Controls/ConfirmYesNo.ascx" TagName="ApproveCnf" TagPrefix="apprCnf" %>--%>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <%--<script type="text/javascript" src="../../Help/aruti_help_managers/js/jquery-1.7.1.min.js"></script>

    <script type="text/javascript" src="../../Help/aruti_help_managers/js/jquery.searchabledropdown-1.0.8.src.js"></script>--%>

    <script type="text/javascript" src="../../Help/aruti_help_managers/js/jquery.uploadfile.min.js"></script>

    <%--<link href="../../App_Themes/PA_Style.css" type="text/css" />--%>

    <script type="text/javascript">

        function pageLoad(sender, args) {
            $("select").searchable();
        }
    </script>

    <%--<script type="text/javascript">
        $(".objAddBtn").live("mousedown", function(e) {
            $("#<%= hdf_locationx.ClientID %>").val(e.clientX);
            $("#<%= hdf_locationy.ClientID %>").val(e.clientY);
        });
    </script>

    <script type="text/javascript">
        $(".popMenu").live("click", function(e) {
            var id = jQuery(this).attr('id').replace('_backgroundElement', '');
            $find(id).hide();
        });
    </script>--%>

    <script type="text/javascript">
        function onlyNumbers(txtBox, e) {
            if (window.event)
                var charCode = window.event.keyCode;       // IE
            else
                var charCode = e.which;

            var cval = txtBox.value;

            if (cval.length > 0)
                if (charCode == 46)
                if (cval.indexOf(".") > -1)
                return false;
            //'S.SANDEEP |25-MAR-2019| -- START
            if (cval.length > 0)
                if (charCode == 45)
                if (cval.indexOf("-") > -1)
                return false;
            //'S.SANDEEP |25-MAR-2019| -- END

            if (charCode == 13)
                return false;

            //'S.SANDEEP |25-MAR-2019| -- START
            //            if (charCode > 31 && (charCode < 46 || charCode > 57))
            if (charCode > 31 && (charCode < 45 || charCode > 57))
            //'S.SANDEEP |25-MAR-2019| -- END
                return false;
            return true;
        }


        //        $("[id*=chkAllSelect]").live("click", function() {
        //            var chkHeader = $(this);
        //            var grid = $(this).closest("table");
        //            $("input[type=checkbox]", grid).each(function() {
        //                if (chkHeader.is(":checked")) {
        //                    debugger;
        //                    $(this).attr("checked", "checked");

        //                } else {
        //                    $(this).removeAttr("checked");
        //                }
        //            });
        //        });
        //        $("[id*=chkSelect]").live("click", function() {
        //            var grid = $(this).closest("table");
        //            var chkHeader = $("[id*=chkHeader]", grid);
        //            var row = $(this).closest("tr")[0];

        //            debugger;
        //            if (!$(this).is(":checked")) {
        //                var row = $(this).closest("tr")[0];
        //                chkHeader.removeAttr("checked");

        //            } else {

        //                if ($("[id*=chkRow]", grid).length == $("[id*=chkRow]:checked", grid).length) {
        //                    chkHeader.attr("checked", "checked");
        //                }
        //            }

        //        });

        $("body").on("click", "[id*=chkAllSelect]", function() {
            var chkHeader = $(this);
            debugger;
            var grid = $(this).closest("table");
            $("[id*=chkSelect]").prop("checked", $(chkHeader).prop("checked"));
        });


        $("body").on("click", "[id*=chkSelect]", function() {
            var grid = $(this).closest("table");
            var chkHeader = $("[id*=chkAllSelect]", grid);
            debugger;
            if ($("[id*=chkSelect]", grid).length == $("[id*=chkSelect]:checked", grid).length) {
                chkHeader.prop("checked", true);
            }
            else {
                chkHeader.prop("checked", false);
            }
        });        
    </script>

    <%--<script type="text/javascript">
        function setscrollPosition(sender) {
            sender.scrollLeft = document.getElementById("<%=hdf_leftposition.ClientID%>").value;
            sender.scrollTop = document.getElementById("<%=hdf_topposition.ClientID%>").value;
        }
        function getscrollPosition() {
            document.getElementById("<%=hdf_topposition.ClientID%>").value = document.getElementById("<%=pnl_dgvData.ClientID%>").scrollTop;
            document.getElementById("<%=hdf_leftposition.ClientID%>").value = document.getElementById("<%=pnl_dgvData.ClientID%>").scrollLeft;
        }
    </script>--%>
    <input type="hidden" id="endreq" value="0" />
    <input type="hidden" id="bodyy" value="0" />
    <asp:HiddenField ID="hfScrollPosition" runat="server" Value="0" />
    <asp:HiddenField ID="hfScrollPosition1" runat="server" Value="0" />

    <script type="text/javascript">
        var prm;
        //        var scroll = {
        //            Y: '#<%= hfScrollPosition.ClientID %>'
        //        };
        //        var scroll1 = {
        //            Y: '#<%= hfScrollPosition1.ClientID %>'
        //        };
        //        prm = Sys.WebForms.PageRequestManager.getInstance();
        //        prm.add_beginRequest(beginRequestHandler);
        //        prm.add_endRequest(endRequestHandler);

        //        $(window).scroll(function() {
        //            var cend = $("#endreq").val();
        //            if (cend == "1") {
        //                $("#endreq").val("0");
        //                var nbodyY = $("#bodyy").val();
        //                $(window).scrollTop(nbodyY);
        //            }
        //        });

        //        function beginRequestHandler(sender, args) {
        //            $("#endreq").val("0");
        //            $("#bodyy").val($(window).scrollTop());
        //        }

        function endRequestHandler(sender, args) {
            //            $("#endreq").val("1");
            //            SetGeidScrolls();
            //            if (args.get_error() == undefined) {
            //                $("#scrollable-container").scrollTop($(scroll.Y).val());
            //                $("#scrollable-container1").scrollTop($(scroll1.Y).val());
            //            }
            $(".updatedata123").html("<i class='fa fa-tasks'></i>");
        }
        $(document).ready(function() {
            $(".updatedata123").html("<i class='fa fa-tasks'></i>");
        });
    </script>

    <%--<script type="text/javascript">
        function SetGeidScrolls() {
            var arrPnl = $('.gridscroll');
            for (j = 0; j < arrPnl.length; j++) {
                var trtag = $(arrPnl[j]).find('.gridview').children('tbody').children();
                if (trtag.length > 52) {
                    var trheight = 0;
                    for (i = 0; i < 52; i++) {
                        trheight = trheight + $(trtag[i]).height();
                    }
                    $(arrPnl[j]).css("height", trheight + "px");
                }
                else {
                    $(arrPnl[j]).css("height", "100%");
                }
            }
        }
    </script>--%>
    <%--'Pinkal (31-Jul-2020) -- Start
             'Optimization  - Working on Approve/Reject Update Progress in Assessment.
    <script>
        function IsValidAttach() {
            if (parseInt($('.cboScanDcoumentType').val()) <= 0) {
                alert('Please Select Document Type.');
                $('.cboScanDcoumentType').focus();
                return false;
            }
        }    
    </script>

    <script type="text/javascript">
        var prm;
        prm = Sys.WebForms.PageRequestManager.getInstance();
        prm.add_endRequest(endRequestHandler);
        function endRequestHandler(sender, evemt) {
            ImageLoad();
            $(".ajax-upload-dragdrop").css("width", "auto");
            $("#<%= popup_AttachementYesNo.ClientID %>_Panel1").css("z-index", "100002");
        }
    </script>
        
    'Pinkal (31-Jul-2020) -- End--%>
    <%--'S.SANDEEP |04-DEC-2019| -- START--%>
    <%--'ISSUE/ENHANCEMENT : REPORT TEMPLATE 17 -- NMB--%>

    <script type="text/javascript">
        function Print() {
            var printWin = window.open('', '', 'left=0,top=0,width=1000,height=600,status=0');
            printWin.document.write(document.getElementById("<%=divhtml.ClientID %>").innerHTML);
            printWin.document.close();
            printWin.focus();
            printWin.print();
            printWin.close();
        }
    </script>

    <%--'S.SANDEEP |04-DEC-2019| -- END--%>
    <asp:Panel ID="MainPan" runat="server" Style="width: 100%">
        <asp:UpdatePanel ID="uppnl_mian" runat="server" EnableViewState="true">
            <ContentTemplate>
                <div class="block-header">
                    <h2>
                        <asp:Label ID="lblPageHeader" runat="server" Text="Update Progress"></asp:Label>
                    </h2>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h2>
                                    <asp:Label ID="lblDetialHeader" runat="server" Text="Filter Criteria"></asp:Label>
                                </h2>
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="card inner-card">
                                            <div class="header">
                                                <h2>
                                                    <asp:Label ID="lblHeader" runat="server" Text="Mandatory Filters" />
                                                </h2>
                                            </div>
                                            <div class="body">
                                                <div class="row clearfix">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <asp:Label ID="lblEmployee" runat="server" Width="20%" Text="Employee" CssClass="form-label"></asp:Label>
                                                        <div class="form-group">
                                                            <asp:DropDownList ID="cboEmployee" runat="server" AutoPostBack="true">
                                                            </asp:DropDownList>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <asp:Label ID="lblPeriod" runat="server" Width="20%" Text="Period" CssClass="form-label"></asp:Label>
                                                        <div class="form-group">
                                                            <asp:DropDownList ID="cboPeriod" runat="server" AutoPostBack="true">
                                                            </asp:DropDownList>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <asp:Label ID="objlblCurrentStatus" runat="server" Font-Bold="true" Font-Size="Small"
                                    ForeColor="Red" CssClass="pull-left"></asp:Label>
                                <asp:Label ID="objlblTotalWeight" runat="server" Text="" Font-Bold="true"></asp:Label>
                                <asp:Button ID="BtnSearch" runat="server" CssClass="btn btn-primary" Text="Search" />
                                <asp:Button ID="BtnReset" runat="server" CssClass="btn btn-default" Text="Reset" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="card">
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-xs-12">
                                        <div class="table-responsive" style="height: 300px">
                                            <asp:GridView ID="dgvData" runat="server" AutoGenerateColumns="false" Width="99%"
                                                AllowPaging="false" CssClass="table table-hover table-bordered" DataKeyNames="isfinal,UoMType,empfield1unkid,empfield2unkid,empfield3unkid,empfield4unkid,empfield5unkid,goaltypeid,goalvalue,Field1,Field2,Field3,Field4,Field5">
                                                <Columns>
                                                </Columns>
                                            </asp:GridView>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <asp:Button ID="btnApproveReject" runat="server" Text="Approve/Reject Progress" CssClass="btn btn-primary pull-left" />
                                <asp:Button ID="btnViewUpdateProgressReport" runat="server" Text="Update Progress Report"
                                    CssClass="btn btn-primary pull-left" />
                                <asp:Button ID="btnclose" runat="server" CssClass="btn btn-default" Text="Close" />
                            </div>
                        </div>
                    </div>
                </div>
                <asp:HiddenField ID="hdf_locationx" runat="server" />
                <asp:HiddenField ID="hdf_locationy" runat="server" />
                <asp:HiddenField ID="hdf_topposition" runat="server" />
                <asp:HiddenField ID="hdf_leftposition" runat="server" />
                <cc1:ModalPopupExtender ID="popup_GoalAccomplishment" runat="server" TargetControlID="hdf_GoalAccomplishment"
                    CancelControlID="hdf_GoalAccomplishment" BackgroundCssClass="modal-backdrop" PopupControlID="pnl_GoalAccomplishment">
                </cc1:ModalPopupExtender>
                <asp:Panel ID="pnl_GoalAccomplishment" runat="server" CssClass="card modal-dialog modal-lg"
                    Style="display: none;">
                    <div class="header">
                        <h2>
                            <asp:Label ID="lblAccomplishment_Header" runat="server" Text="Approve/Reject Goals Accomplishment List"></asp:Label>
                        </h2>
                    </div>
                    <div class="body" style="height: 500px">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card inner-card">
                                    <div class="header">
                                        <asp:Label ID="lblAccomplishment_gbFilterCriteria" runat="server" Text="Filter Criteria" />
                                    </div>
                                    <div class="body">
                                        <div class="row clearfix">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                <asp:Label ID="lblAccomplishmentStatus" runat="server" Text="Status" CssClass="form-label" />
                                                <div class="form-group">
                                                    <asp:DropDownList ID="cboAccomplishmentStatus" runat="server">
                                                    </asp:DropDownList>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                <asp:Label ID="lblPerspective" runat="server" Text="Perspective" CssClass="form-label" />
                                                <div class="form-group">
                                                    <asp:DropDownList ID="cboPerspective" runat="server" AutoPostBack="true">
                                                    </asp:DropDownList>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                <asp:Label ID="lblLinkedField" runat="server" Text="" CssClass="form-label" />
                                                <div class="form-group">
                                                    <asp:DropDownList ID="cboLinkedField" runat="server">
                                                    </asp:DropDownList>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <asp:Button ID="btnAccomplishmentSearch" runat="server" Text="Search" CssClass="btn btn-primary" />
                                        <asp:Button ID="btnAccomplishmentReset" runat="server" Text="Reset" CssClass="btn btn-default" />
                                        <asp:HiddenField ID="hdf_GoalAccomplishment" runat="server" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xs-12">
                                <div class="table-responsive" style="height: 250px">
                                    <asp:GridView ID="dgv_AccomplishmentData" runat="server" AutoGenerateColumns="false"
                                        Width="99%" CssClass="table table-hover table-bordered" AllowPaging="false" DataKeyNames="empupdatetranunkid,Accomplished_statusId,Goal_status,org_per_comp">
                                        <Columns>
                                            <asp:TemplateField HeaderStyle-Width="50px" ItemStyle-Width="50px" HeaderStyle-CssClass="headerstyle"
                                                ItemStyle-CssClass="itemstyle" ItemStyle-HorizontalAlign="Center" HeaderStyle-HorizontalAlign="Center">
                                                <HeaderTemplate>
                                                    <asp:CheckBox ID="chkAllSelect" runat="server" CssClass="filled-in" Text=" " />
                                                </HeaderTemplate>
                                                <ItemTemplate>
                                                    <asp:CheckBox ID="chkSelect" runat="server" CssClass="filled-in" Text=" " />
                                                </ItemTemplate>
                                            </asp:TemplateField>
                                            <asp:BoundField DataField="pName" HeaderText="" HeaderStyle-Width="3%" />
                                            <asp:BoundField DataField="field_data" HeaderText="" FooterText="objdgcolhfield_data"
                                                HeaderStyle-Width="10%" />
                                            <asp:BoundField DataField="cData" HeaderText="" Visible="false" HeaderStyle-Width="10%" />
                                            <asp:BoundField DataField="dData" HeaderText="" Visible="false" HeaderStyle-Width="10%" />
                                            <asp:BoundField DataField="eData" HeaderText="" Visible="false" HeaderStyle-Width="10%" />
                                            <asp:BoundField DataField="ddate" HeaderText="Date" FooterText="dgbcolhDate" HeaderStyle-Width="3%" />
                                            <asp:BoundField DataField="Goal_status" HeaderText="Goals Status" HeaderStyle-Width="1%" />
                                            <asp:BoundField DataField="dgoalvalue" HeaderText="Goal Value" FooterText="dgoalvalue"
                                                HeaderStyle-Width="1%" />
                                            <asp:TemplateField HeaderStyle-Width="1%" ItemStyle-Width="1%" HeaderStyle-HorizontalAlign="Center"
                                                ItemStyle-HorizontalAlign="Center" HeaderText="% Completed">
                                                <ItemTemplate>
                                                    <asp:TextBox ID="txtPerComp" runat="server" AutoPostBack="true" ReadOnly="true" Text='<%# Eval("per_comp") %>'
                                                        onKeypress="return onlyNumbers(this, event);" OnTextChanged="txtAccomplishmentPerComp_TextChanged"
                                                        Style="text-align: right" class="form-control"></asp:TextBox>
                                                </ItemTemplate>
                                            </asp:TemplateField>
                                            <asp:BoundField DataField="Goal_Remark" HeaderText="Remark" HeaderStyle-Width="7%" />
                                            <asp:BoundField DataField="accomplished_status" HeaderText="Approve/Disapprove Status"
                                                HeaderStyle-Width="1%" />
                                            <asp:BoundField DataField="org_per_comp" Visible="false" />
                                            <asp:BoundField DataField="dfinalvalue" FooterText="dgbcolhLastValue" HeaderText="Last Value"
                                                HeaderStyle-Width="1%" />
                                            <asp:TemplateField HeaderStyle-Width="50px" ItemStyle-Width="50px" HeaderStyle-CssClass="headerstyle"
                                                ItemStyle-CssClass="itemstyle" ItemStyle-HorizontalAlign="Center" HeaderStyle-HorizontalAlign="Center">
                                                <ItemTemplate>
                                                    <asp:LinkButton ID="lnkDownload" runat="server" ToolTip="Download Document" Font-Underline="false"
                                                        CommandName="download" OnClick="lnkdownloadAttachment_Click">
                                                                                <i class="fa fa-download"></i>                                                                                
                                                    </asp:LinkButton>
                                                </ItemTemplate>
                                            </asp:TemplateField>
                                        </Columns>
                                    </asp:GridView>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xs-12">
                                <asp:Label ID="lblAccomplishmentRemark" runat="server" Text="Remark" CssClass="form-label"></asp:Label>
                                <div class="form-line">
                                    <asp:TextBox ID="txtAccomplishmentRemark" runat="server" Text="" TextMode="MultiLine"
                                        Rows="3" class="form-control"></asp:TextBox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <asp:Button ID="btnAccomplishmentApprove" runat="server" Text="Approve" CssClass="btn btn-primary" />
                        <asp:Button ID="btnAccomplishmentReject" runat="server" Text="Reject" CssClass="btn btn-primary" />
                        <asp:Button ID="btnAccomplishmentClose" runat="server" Text="Close" CssClass="btn btn-default" />
                    </div>
                </asp:Panel>
                <cc1:ModalPopupExtender ID="popup_Accomplishment_YesNo" runat="server" BackgroundCssClass="modal-backdrop"
                    CancelControlID="hdfAccomplishment" PopupControlID="pnl_Accomplishment_YesNo"
                    TargetControlID="hdfAccomplishment">
                </cc1:ModalPopupExtender>
                <asp:Panel ID="pnl_Accomplishment_YesNo" runat="server" CssClass="card modal-dialog"
                    Style="display: none;">
                    <div class="header">
                        <h2>
                            <asp:Label ID="lblAccompllishmentHeader" runat="server" Text="Aruti"></asp:Label>
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <asp:Label ID="lblAccomplishment_Message" runat="server" Text="Message :" CssClass="form-label" />
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <asp:Button ID="btnAccomplishment_yes" runat="server" Text="Yes" CssClass="btn btn-primary" />
                        <asp:Button ID="btnAccomplishment_No" runat="server" Text="No" CssClass="btn btn-default" />
                        <asp:HiddenField ID="hdfAccomplishment" runat="server" />
                    </div>
                </asp:Panel>
                <cc1:ModalPopupExtender ID="popupEmpAssessForm" runat="server" CancelControlID="btnEmpReportingClose"
                    PopupControlID="pnlEmpReporting" TargetControlID="HiddenField2" PopupDragHandleControlID="pnlEmpReporting">
                </cc1:ModalPopupExtender>
                <asp:Panel ID="pnlEmpReporting" runat="server" CssClass="card modal-dialog modal-lg"
                    Style="height: 600px" DefaultButton="btnEmpReportingClose" ScrollBars="Auto">
                    <div class="header">
                        <h2>
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div id="divhtml" runat="server" style="width: 89%; left: 76px; top: 13px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <asp:Button ID="btnPlanningPring" runat="server" Text="Print" CssClass="btn btn-primary"
                            OnClientClick="javascript:Print()" />
                        <asp:Button ID="btnEmpReportingClose" runat="server" Text="Close" CssClass="btn btn-default" />
                        <asp:HiddenField ID="HiddenField2" runat="server" />
                    </div>
                </asp:Panel>
            </ContentTemplate>
            <Triggers>
                <asp:PostBackTrigger ControlID="dgv_AccomplishmentData" />
            </Triggers>
        </asp:UpdatePanel>
    </asp:Panel>
    <%--<script type="text/javascript">
        $(document).ready(function() {
            ImageLoad();
            $(".ajax-upload-dragdrop").css("width", "auto");
        });
        function ImageLoad() {
            if ($(".ajax-upload-dragdrop").length <= 0) {
                $("#fileuploader").uploadFile({
                    url: "wPgUpdateGoalProgress.aspx?uploadimage=mSEfU19VPc4=",
                    multiple: false,
                    method: "POST",
                    dragDropStr: "",
                    maxFileSize: 1024 * 1024,
                    showStatusAfterSuccess: false,
                    showAbort: false,
                    sizeErrorStr: "sorry,you can not attch file more than 1MB.",
                    showDone: false,
                    fileName: "myfile",
                    onSuccess: function(path, data, xhr) {
                        $("#<%= btnSaveAttachment.ClientID %>").click();
                    },
                    onError: function(files, status, errMsg) {
                        alert(errMsg);
                    }
                });
            }
        }

        $('input[type=file]').live("click", function() {
            return IsValidAttach();
        });
        
    </script>--%>
</asp:Content>
