﻿.theme-brown2 .navbar,
.theme-brown2 .switch label input[type="checkbox"]:checked + .lever::after,
.theme-brown2 [type="radio"]:checked + label::after,
.theme-brown2 .select2-results .select2-highlighted,
.theme-brown2 .card.dashboard .list-group-item > .badge 
{
	background-color:#860038 !important;
}

.theme-brown2 .nav > li > a,
.theme-brown2 .navbar-nav li.user-menu > a .user-name::after,
.theme-brown2 .bars,
.theme-brown2 .globalsearch .input-group-addon 
{
	color:#FFFFFF;
}

.theme-brown2 .btn-primary,
.theme-brown2 .btn-primary:hover,
.theme-brown2 .btn-primary:active,
.theme-brown2 .btn-primary:focus
{
	background-color: #860038 !important;
	color:#FFFFFF;
	border-color: #860038;
}

.theme-brown2 .btn-default,
.theme-brown2 .btn-default:hover,
.theme-brown2 .btn-default:active,
.theme-brown2 .btn-default:focus
{
	background-color: #fff !important;
	color: #860038;
	border-color: #860038;
}

.theme-brown2 .nav-tabs > li > a::before
{
	border-color: #860038 !important;
}

.theme-brown2 .globalsearch
{
	background-color: Transparent!important;
}

.theme-brown2 .globalsearch.form-group .form-line
{
	background-color: rgba(0,0,0,.2);
	border-color: Transparent !important;
}

.theme-brown2 .globalsearch.form-group .form-control 
{
	background-color: Transparent !important;
	color:#FFFFFF;
}

.theme-brown2 .globalsearch.form-group .form-control::placeholder
{
	color:#FFFFFF;
}


.theme-brown2 .menu li a i
{
	color: #747474 !important;
}
.theme-brown2 .sidebar .menu .list a span
{
	color: #333
}

.theme-brown2 .switch label input[type="checkbox"]:checked + .lever
{
	background-color: rgba(134, 0, 56,.5) !important;
}

.theme-brown2 [type="checkbox"]:checked + label::after
{
	background-color: #860038 !important;
	border-color: #860038 !important;
}

.theme-brown2 .form-group .form-line:hover,
.theme-brown2 .form-group .form-line.focused
{
	border-color: #860038 !important;
}

.theme-brown2 .sidebar .legal .copyright a,
.theme-brown2 .dashboard.card .info-box-4 .icon i,
.theme-brown2 .dashboard.card .btn-link,
.theme-brown2 .welcome-title,
.theme-brown2 .spinner .input-group-addon a i,
.theme-brown2 .sidebar .menu .list a.toggled span,
.theme-brown2 .sidebar .menu .list a.toggled i,
.theme-brown2 .sidebar .menu .list .ml-menu li .bold a
{
	color: #860038 !important;
}

.theme-brown2 .main-logo-a-r,
.theme-brown2 .main-logo-a-l,
.theme-brown2 .main-logo-primary
{
	fill:#FFFFFF;
}

.theme-brown2 [type="radio"]:checked + label::after,
.theme-brown2 [type="radio"]:checked + label::before,
.theme-brown2 .with-gap[type="radio"]:checked + label::after,
.theme-brown2 .select2-container .select2-choice:hover,
.theme-brown2 .select2-container-active .select2-choice,
.theme-brown2 .select2-container-active .select2-choices,
.theme-brown2 .select2-dropdown-open.select2-drop-above .select2-choice,
.theme-brown2 .select2-dropdown-open.select2-drop-above .select2-choices,
.theme-brown2 .select2-drop-active
{
	border-color: #860038 !important;
}

.theme-brown2 .form-group .form-line.focused
{
	box-shadow: 0 0 0 2px rgba(134,0,56, 0.2);
}

