﻿.theme-nmb .navbar,
.theme-nmb .card.dashboard .list-group-item > .badge 
{
	background-color:#006BCA !important;
}

.theme-nmb .nav > li > a,
.theme-nmb .navbar-nav li.user-menu > a .user-name::after,
.theme-nmb .bars,
.theme-nmb .globalsearch .input-group-addon 
{
	color:#FFFFFF;
}


.theme-nmb .btn-primary,
.theme-nmb .btn-primary:hover,
.theme-nmb .btn-primary:active,
.theme-nmb .btn-primary:focus,
.theme-nmb .btn-danger,
.theme-nmb .btn-danger:hover,
.theme-nmb .btn-danger:active,
.theme-nmb .btn-danger:focus
{
	background-color: #FF5500 !important;
	color:#FFFFFF;
	border-color: #FF5500;
}

.theme-nmb .btn-default,
.theme-nmb .btn-default:hover,
.theme-nmb .btn-default:active,
.theme-nmb .btn-default:focus
{
	background-color: #fff !important;
	color: #FF5500;
	border-color: #FF5500;
}

.theme-nmb .nav-tabs > li > a::before
{
	border-color: #006BCA !important;
}

.theme-nmb .globalsearch
{
	background-color: Transparent!important;
}

.theme-nmb .globalsearch.form-group .form-line
{
	background-color: rgba(0,0,0,.2);
	border-color: Transparent !important;
}

.theme-nmb .globalsearch.form-group .form-control 
{
	background-color: Transparent !important;
	color:#FFFFFF;
}

.theme-nmb .globalsearch.form-group .form-control::placeholder
{
	color:#FFFFFF;
}

.theme-nmb .menu li a i
{
	color: #747474 !important;
}
.theme-nmb .sidebar .menu .list a span
{
	color: #333
}

.theme-nmb .switch label input[type="checkbox"]:checked + .lever
{
	background-color: rgba(255, 85, 0,.5) !important;
}

.theme-nmb [type="checkbox"]:checked + label::after
{
	background-color: #FF5500 !important;
	border-color: #FF5500 !important;
}

.theme-nmb .form-group .form-line:hover,
.theme-nmb .form-group .form-line.focused
{
	border-color: #FF5500 !important;
}

.theme-nmb .welcome-title
{
	color: #FF5500 !important;
}

.theme-nmb .welcome-title
{
	color: #FF5500 !important;
}


.theme-nmb .welcome-title .welcome-user
{
	color: #006BCA !important;
}
.theme-nmb .sidebar .legal .copyright a,
.theme-nmb .dashboard.card .info-box-4 .icon i,
.theme-nmb .quick-links .info-box-4 .icon i
{
	color: #FF5500 !important;
}

.theme-nmb .spinner .input-group-addon a i,
.theme-nmb .dashboard.card .btn-link
{
	color: #FF5500 !important;
}

.theme-nmb .sidebar .menu .list a.toggled span,
.theme-nmb .sidebar .menu .list a.toggled i,
.theme-nmb .sidebar .menu .list .ml-menu li .bold a
{
	color: #FF5500 !important;
}

.theme-nmb .main-logo-a-r,
.theme-nmb .main-logo-a-l,
.theme-nmb .main-logo-primary
{
	fill:#FFFFFF;
}

.theme-nmb [type="radio"]:checked + label::after,
.theme-nmb [type="radio"]:checked + label::before,
.theme-nmb .with-gap[type="radio"]:checked + label::after,
.theme-nmb .select2-container .select2-choice:hover,
.theme-nmb .select2-container-active .select2-choice,
.theme-nmb .select2-container-active .select2-choices,
.theme-nmb .select2-dropdown-open.select2-drop-above .select2-choice,
.theme-nmb .select2-dropdown-open.select2-drop-above .select2-choices,
.theme-nmb .select2-drop-active
{
	border-color: #FF5500 !important;
}

.theme-nmb .form-group .form-line.focused
{
	box-shadow: 0 0 0 2px rgba(233,30,99, 0.2);
}

.theme-nmb .vacancy .card .header 
{
	background-color:#FF5500 !important;
	color:#FFFFFF !important;
}

.theme-nmb .vacancy .card .header h2
{
	color:#FFFFFF !important;
}

.theme-nmb .vacancy .card
{
	overflow:hidden;
}

.theme-nmb .vacancy .bg-warning 
{
	background-color:#006BCA !important;
	color:#FFFFFF !important;
}


.theme-nmb ul.creative-dots li.big-dot,
.theme-nmb ul.creative-dots li.semi-medium-dot,
.theme-nmb ul.creative-dots li.small-dot,
.theme-nmb [type="radio"]:checked + label::after,
.theme-nmb .switch label input[type="checkbox"]:checked + .lever::after,
.theme-nmb .select2-results .select2-highlighted,
.theme-nmb .sweet-alert .sa-confirm-button-container .confirm
{
	background-color:#FF5500 !important;
}

.theme-nmb ul.creative-dots li.semi-big-dot,
.theme-nmb ul.creative-dots li.medium-dot,
.theme-nmb ul.creative-dots li.semi-small-dot,
.theme-nmb .pipeline-box-container .header .label 
{
	background-color:#006BCA !important;
}

.theme-nmb .tl-nominated-text
{
	color:#FF5500 !important;
}

.theme-nmb .pipeline-box-container i.fa-info-circle
{
	color:#006BCA !important;
}

.theme-nmb .sidebar-popup .menu .list li .active
{
	background-color:#FF5500 !important;
}